.main-content-area {
    width: 100%;
    /* border: 1px solid var(--main-black); */
}

.section-one, 
.section-two {
    display: flex;
    /* border: 1px solid black; */
}

.section-one-left,
.section-one-right,
.section-two-left,
.section-two-right {
    flex: 1;
    /* border: 1px solid black; */
    /* min-height: 300px; */
    height: 300px;
    /* max-height: 301px; */
    /* max-height: 301px; */
    padding: var(--common-value);
    overflow: none;
}

.section-one-left,
.section-two-left {
    padding-right: 7.5px;
}

.section-one-right,
.section-two-right {
    padding-left: 7.5px;
}

.section-one-left,
.section-one-right {
    padding-bottom: 7.5px;
}

.section-two-left,
.section-two-right {
    padding-top: 7.5px;
}

.right-box,
.left-box {
    border: 2px solid black;
    padding: var(--common-value);
    border-radius: var(--common-value);
    /* box-shadow: -11px -11px var(--main-black); */
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    /* height: calc(100% - 15px); */
    position: relative;
    overflow: none;
    background-color: var(--main-white);
}

.to-read-heading-area,
.already-read-heading-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    /* border-bottom: 1px solid var(--main-black); */
    /* padding-bottom: 10px; */
    height: 15%;
}

.content-area {
    height: 85%;
    padding: 10px;
    font-weight: bold;
    /* font-weight: normal; */
}

.to-read-content-area,
.already-read-content-area {
    overflow: auto;
    height: 70%;
    padding: 10px;
}


.to-read-content-area::-webkit-scrollbar,
.already-read-content-area::-webkit-scrollbar {
    display: none;
}

.to-read-btn-area,
.already-read-btn-area,
.individual-element-btn-area {
    /* border-top: 1px solid var(--main-black); */
    /* padding-top: 10px; */
    /* position: absolute;
    bottom: 15px; */
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.grid-toggle {
    display: grid;
    place-items: center;
}

#add-book-popup-pg,
#add-book-popup-pg-two,
#modify-read-goals-popup-pg {
    z-index: -150;
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#add-book-popup-box,
#add-book-popup-box-two,
#modify-read-goals-popup-box {
    width: 400px;
    background-color: var(--main-white);
    box-shadow: 11px 11px  var(--main-black);
    padding: var(--common-value);
    border: 2px solid var(--main-black);
}

.add-book-heading-area,
.modify-read-goals-heading-area {
    /* /* text-align: center; */
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-book-heading,
.modify-read-goals-heading {
    font-weight: bold;
    font-size: 20px;
}


.book-info-box {
    /* padding: 5px 10px; */
    padding: 5px 10px 5px 15px;
    border: 2px solid var(--main-black);
    margin: 2px;
    display: flex;
    border-radius: var(--common-value);
}

.book-info {
    width: 85%;
}

.book-info-name {
    font-size: 17px;
    letter-spacing: -2px;
}

.book-info-author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.book-info-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
}

.done-reading-icon, 
.remove-book-icon,
.add-to-readlist-icon {
    cursor: pointer;
}

#year-select-drop-down {
    color: var(--main-black);
    font-size: 16px;
    font-weight: bold;
    border: none;
}

#year-select-drop-down option {
    font-weight: bold;
}

#goals-counter {
    /* width: 15%; */
    height: 30%;
    font-size: 30px;
    /* border: 1px solid; */
    margin: 10px 0px 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#goal-progress-bar-area {
    width: 100%;
    height: 30%;
    display: flex;
    /* place-items: center; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    margin: 10px 0px 10px 20px;
}

#progress-bar {
    width: 80%;
    height: 15px;
    border: 2px solid;
    overflow: hidden;
    /* background-color: var(--indigo); */
}

#progress-bar-value-count {
    width: 20%;
    display: grid;
    place-items: center;
    /* color: green; */
    color: var(--main-black);
}

#progress-bar-value {
    background-color: var(--main-black );
    /* background-color: var(--main-white); */
    /* width: 55.5%; */
    height: 100%;
}

/* .popup-box-hr {
    width: 50%; 
    margin-bottom: 10px; 
    background: var(--main-black); 
    height: 5px; 
    border: none;
} */

/* @media (max-width: 1000px) {
    .section-one,
    .section-two {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .section-one-left,
    .section-one-right,
    .section-two-left,
    .section-two-right {
        width: 500px;
        overflow: hidden; */
        /* max-height: 300px; */
    /* }
} */