@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

:root {
    --indigo: #6610f2;
    --main-black: #000;
    --main-white: #fff;
    --secondary-white: #f5f0e8;
    --secondary-black: #242223;
}

* {
    margin: 0;
    box-sizing: border-box;
}