@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* index.html font: */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

@font-face {
	font-family: 'Skyscapers';
	src: url('//2ttf.com/webfont/6IF8GLA3aiM/webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Nighty';
    src: url('../Nightydemo.otf') format('truetype');
}

:root {
    --indigo: #6610f2;
    --main-black: #000;
    --main-white: #fff;
    --secondary-white: #f5f0e8;
    --secondary-black: #242223;
    --common-value: 15px;
    --pink: #ff5666;
    --bg-color: rgb(233, 240, 245);
}

* {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
            font-family: "Roboto Mono";
    /* font-family: 'Roboto', sans-serif; */
}

input[type=button] {
    background-color: var(--main-black);
    /* background-color: var(--indigo); */
    color: var(--main-white);
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: "Roboto Mono";
    /* font-family: 'Roboto', sans-serif; */
    /* font-weight: bold; */
    letter-spacing: 1.2px;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /* font-size: 15px; */
}

input[type=button]:active {
    background-color: rgba(0, 0, 0, 0.8);
}

input[type=text],
input[type=number],
input[type=password] {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px var(--common-value);
    font-weight: bold;
    border-radius: 5px;
    /* font-family: "Roboto Mono"; */
    background-color: var(--secondary-white);
    /* font-family: 'Josefin Sans', sans-serif; */
    font-size: 15px;
    border: none;
    border-bottom: 2px solid;
}

label {
    font-weight: bold;
    /* font-family: 'Josefin Sans', sans-serif; */
}

#pop-up-menu-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -50;
    visibility: hidden;
    background-color: var(--main-white);
    /* border: 5px solid black; */
    opacity: 0.5;
}

.close-pop-up-icon-area {
    cursor: pointer;
}

.calendar {
    /* height: max-content; */
    height: 100%;
    /* width: max-content; */
    width: 100%;
    /* background-color: var(--bg-main); */
    /* border-radius: 30px; */
    /* padding: 20px; */
    position: relative;
    overflow: hidden;
    font-family: "Roboto Mono";
    /* border: 1px solid; */
    /* overflow: auto; */
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    /* color: var(--color-txt); */
    /* padding: 10px; */
    overflow: auto;
}

.calendar-body {
    /* padding: 10px; */
    height: 80%;
    overflow: auto;
}

.calendar-body::-webkit-scrollbar {
    display: none;
}

.calendar-week-day {
    /* height: 50px; */
    height: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    /* color: var(--bg-second); */
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: 2px; */
    place-items: center;
    /* height: 80%; */
    /* color: var(--color-txt); */
    /* overflow: auto; */
}

.calendar-days div {
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5px; */
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--main-black);
    /* background-color: var(--color-txt); */
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    /* background-color: var(--color-txt); */
    background-color: var(--main-black);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--main-black);
    color: var(--main-white);
    border-radius: 25%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    /* background-color: var(--color-hover); */
    background-color: var(--main-black);
    color: var(--main-white);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    /* background-color: var(--color-hover); */
    background-color: var(--indigo);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    /* color: var(--color-txt); */
    color: var(--main-black);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-white);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    /* background-color: var(--color-hover); */
    background-color: var(--main-black);
    color: var(--main-white);
}

/* LOG OUT BOX STYLING */

#log-out-page {
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: -150;
    visibility: hidden;
}

#log-out-box {
    /* width: 400px; */
    border: 2px solid;
    padding: var(--common-value);
    box-shadow: 11px 11px var(--main-black);
    background-color: var(--main-white);
}

#log-out-text {
    text-transform: uppercase;
    margin-bottom: var(--common-value);
    font-weight: bold;
}

#logout-action-area {
    display: flex;
    justify-content: space-evenly;
}

#alert,
#dismissable-alert {
    position: fixed;
    z-index: -300;
    background-color: var(--main-black);
    color: var(--main-white);
    top: var(--common-value);
    right: var(--common-value);
    padding: var(--common-value);
    /* text-transform: uppercase; */
    /* font-weight: bold; */
    /* display: none; */
}

#dismissable-alert {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #dismissable-alert {
    visibility: visible;
    z-index: 400;
} */

#dismiss-icon {
    display: grid;
    place-items: center;
    margin-left: 5px;   
    cursor: pointer;
}

#dismiss-icon img {
    width: 25px;
    /* height: 20px; */
}

.main-content-area {
    width: 100%;
    /* border: 1px solid var(--main-black); */
    /* overflow: hidden; */
}

.popup-box-hr {
    width: 50%; 
    margin-bottom: 10px; 
    background: var(--main-black); 
    height: 5px; 
    border: none;
}

#secondary-menu {
    width: 250px;
    height: 100%;
    background-color: var(--main-black);
    position: fixed;
    z-index: 130;
    transform: translateX(-1000px);
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.menu-close-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10px;
    cursor: pointer;
}

.menu-close-icon img {
    height: 30px;
    width: 30px;
}

#secondary-menu nav {
    text-align: center;
}

#secondary-menu .current-page {
    /* background-color: var(--pink); */
    background-color: var(--main-white);
    margin-right: 10px;
    border-radius: 10px;
}

.no-content-grid-toggle {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-weight: bold;
}

.show-more-details {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.show-more-details-arrow {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
}

/* Show full details area styling */

#show-full-details-pg {
    z-index: -150;
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#show-full-details-bx {
    width: 80%;
    height: 75%;
    background-color: var(--main-white);
    box-shadow: 11px 11px var(--main-black);
    padding: var(--common-value);
    border: 2px solid var(--main-black);
    overflow: auto;
    position: relative;
}

#download-pdf {
    position: fixed;
    right: calc(10% + 25px);
    bottom: calc(12% + 15px);
    cursor: pointer;
}

#show-full-details-heading-area {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.show-full-details-content-area {
    padding: 10px;
    position: relative;
}

/* #show-full-details-heading-area {
    position: sticky;
    top: 0px;
    background-color: var(--main-white);
} */

#full-details-table {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: var(--main-white);
    border: 2px solid;
}

#full-details-table td, th {
    /* border: 1px solid; */
    padding: 10px;
}

#full-details-table td {
    /* border-right: 1px solid;
    border-left: 1px solid; */
    border-bottom: 1px solid;
}

#full-details-table th {
    background-color: var(--main-black);
    color: var(--main-white);
    text-transform: uppercase;  
    font-weight: normal;
}

#full-details-table tr {
    border-bottom: 2px solid;
}

.five {
    width: 5%;
}

.ten {
    width: 10%;
}

.fifteen {
    width: 15%;
}

.thirty {
    width: 30%;
}

.thirty-five {
    width: 35%;
}

.forty {
    width: 40%;
}

.money {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.settings-page,
.confirm-delete-acc-page {
    z-index: -150;
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.settings-box,
.confirm-delete-acc-box {
    width: 600px;
    background-color: var(--main-white);
    box-shadow: 11px 11px  var(--main-black);
    padding: var(--common-value);
    border: 2px solid var(--main-black);
    padding: var(--common-value);
}

/* .confirm-delete-acc-page {
    z-index: 150;
    visibility: visible;
} */

.confirm-delete-acc-box {
    width: 350px;
    text-align: center;
    font-weight: bold;
}



.settings-box-greeting {
    /* font-weight: bold; */
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    background: var(--main-black);
    color: var(--main-white);
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    border-radius: 15px;
}

.settings-box-heading-area {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-box-heading {
    font-weight: bold;
    font-size: 20px;
}

.settings-box-dynamic-content {
    /* border: 1px solid; */
    margin-top: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.user-action .heading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.settings-box-dynamic-content .underline-box {
    width: 50px;
    height: 5px;
    background: var(--main-black);
    margin: 5px auto;
}

.bold-details {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.det {
    margin-left: 10px;
    margin-bottom: 20px;
}

.account-details-flex-line {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-details-flex-line div {
    cursor: pointer;
}

.account-details-flex-line div:hover {
    text-decoration: underline;
}

.change-name-area {
    margin-top: 30px;
}

.back-btn-area {
    /* border: 1px solid; */
    display: inline-block;
    width: auto;
    cursor: pointer;
}

.back-btn-area abbr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn-area:hover {
    background-color: rgb(239, 222, 222);
}

.back-btn-area img {
    width: 30px;
}

.user-action-btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}