@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --indigo: #6610f2;
    --main-black: #000;
    --main-white: #fff;
    --secondary-white: #f5f0e8;
    --secondary-black: #242223;
    --common-value: 15px;
}

* {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
            font-family: "Roboto Mono";
}

input[type=button] {
    background-color: var(--main-black);
    color: var(--main-white);
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: "Roboto Mono";
    /* font-weight: bold; */
    letter-spacing: 1.2px;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type=text] {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px var(--common-value);
    font-weight: bold;
    font-family: "Roboto Mono";
    /* font-family: 'Josefin Sans', sans-serif; */
    font-size: 15px;
}

label {
    font-weight: bold;
    /* font-family: 'Josefin Sans', sans-serif; */
}

#pop-up-menu-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -50;
    visibility: hidden;
    background-color: var(--main-white);
    /* border: 5px solid black; */
    opacity: 0.5;
}

#close-pop-up-icon-area {
    cursor: pointer;
}