#heading-and-action-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#dashboard-greeting {
    font-size: 25px;
}

#user-profile-info-section {
    margin-top: 20px;
    /* border: 1px solid; */
    height: 650px;
    margin-top: 50px;
}

.profile-info-section-top {
    display: flex;
    height: 200px;
    /* margin-bottom: 7.5px; */
    /* border: 1px solid; */
}

.profile-info-section-bottom {
    margin-top: 15px;
    display: flex;
    /* border: 1px solid; */
    height: 435px;
}

#no-of-posts-bx,
#no-of-archives-bx,
#no-of-likes-bx,
#no-of-views-bx {
    flex: 1;
    font-weight: bold;
    padding: var(--common-value);
    border-radius: var(--common-value);
    border: 2px solid;
    background-color: var(--main-white);
    margin-right: 7.5px;
    margin-left: 7.5px;
}

#no-of-posts-bx {
    margin-left: 0px;
}

#no-of-views-bx {
    margin-right: 0px;
}

#posts-bx-content,
#views-bx-content,
#archives-bx-content,
#likes-bx-content {
    /* border: 1px solid; */
    height: calc(100% - 20px);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 60px;
}

.profile-content-bx-img-div {
    display: grid;
    place-items: center;
    /* margin-right: 10px; */
}
.profile-content-bx-img-div img {
    width: 80px;
    /* height: 60px; */
}

#show-user-content-info {
    width: 100%;
    border: 2px solid;
    font-weight: bold;
    /* padding: var(--common-value); */
    border-radius: var(--common-value);
    background-color: var(--main-white);
}

/* #show-user-content-info {
    padding: 0px;
} */

/* #show-user-content-info {
    margin-right: 7.5px;
} */

/* #show-content-progress-graph {
    margin-left: 7.5px;
} */

#user-content-info-header {
    padding: 0px var(--common-value);
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#manage-blogs-drop-down {
    border: none;
    font-weight: bold;
    font-family: "Roboto Mono";
    font-size: 15px;
}

#user-content-info-display-area {
    height: 90%;
    width: 100%;
    /* border: 1px solid; */
    padding: 0px 15px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;
    overflow-x: auto;
}

#user-content-info-display-area::-webkit-scrollbar {
    display: none;
}

/* Comment code's styles below.... */

/* .blog-info-box {
    width: 100%;
    border: 2px solid;
    border-radius: var(--common-value);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--main-white);
} */

/* .blog-info-box-body {
    /* width: 100%;
    /* display: flex;
    /* align-items: center;
    /* justify-content: center;
    /* padding: var(--common-value);
} */

/* .blog-title-and-info {
    width: 80%;
    /* border: 1px solid; */
/* } */

/* .blog-title-and-info > .title-and-date {
    display: flex;
    justify-content: space-between;
} */

/* .title-and-date > .publish-date {
    font-size: 12px;
    font-weight: normal;
} */

/* .individual-blog-publish-date {
    font-size: 12px;
    font-weight: normal;
} */

/* .blog-title-and-info > .blog-content {
    font-weight: normal;
    font-size: 14px;
} */

/* .blog-reactions {
    width: 20%;
    /* border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

/* .views-count,
.likes-count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.views-count img,
.likes-count img {
    width: 20px;
    margin-right: 5px;
}

.views-count span.money,
.likes-count span.money {
    font-size: 20px;
}

.blog-info-box-footer { */
    /* padding: 0px 15px 15px 15px; */
    /* margin-bottom: 10px;
    padding-left: 15px;
}

.blog-info-box-footer input {
    font-size: 12px;
    padding: 5px 10px;
} */

#user-content-info-display-area .blog-box {
    height: calc(100% - 15px);
    min-width: 320px;
    width: 320px;
    /* border: 2px solid; */
        /* padding: var(--common-value);
        padding-top: 0px; */
    border-radius: var(--common-value);
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    /* box-shadow: 5px 5px 5px #000; */
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

#user-content-info-display-area .blog-box:hover {
    scale: 1.01;
    /* box-shadow: 5px 5px 5px #000; */
}

.blog-box .on-hover-extras {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    /* margin: auto;     */
    bottom: 5px;
    left: 15px; 
    color: #808080;
    visibility: hidden;
}

.blog-box:hover .on-hover-extras {
    visibility: visible;
}

.blog-box .on-hover-extras .archive-and-trash img {
    width: 25px;
}

.blog-box .on-hover-extras .archive-and-trash img:hover {
    scale: 1.1;
} 

.blog-box .on-hover-extras .like-and-views {
    display: flex;
    gap: 15px;
}

.blog-box .on-hover-extras .like-and-views > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.blog-box .on-hover-extras .like-and-views > div > img {
    width: 25px;
    margin-right: 5px;
}

/* .blog-box-decor-area .bookmark-design {
    position: relative;
}

.bookmark-design .rectangle {
    width: 20px;
    height: 35px;
    background-color: var(--main-black);
} */

/* .bookmark-design .triangle {
    width: 0;
	height: 0;
    position: absolute;
    bottom: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #fff;
} */

.blog-box .blog-img {
    width: 100%;
    height: 200px;
    /* border: 1px solid; */
    /* background-image: url("../major-project/images/cosmos.jpg"); */
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-size: cover;
    /* background-position: center;     */
}

/* .blog-box .blog-img img {
    width: 100%;
    height: 200px; */
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
/* } */

#user-content-info-display-area .blog-box .blog-title {
    text-align: center; 
    font-size: 18px;
    text-transform: uppercase;
    margin: 15px;
}

#user-content-info-display-area .blog-box .blog-secondary-info {
    font-weight: normal;
    font-size: 14px;
    margin: 20px 0px;
    text-align: center;
}

#user-content-info-display-area .blog-box-views-and-likes-count {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#user-content-info-display-area .blog-box-views-and-likes-count > div > img  {
    width: 25px;
    margin-right: 10px;
}

#user-content-info-display-area .blog-box-views-and-likes-count > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;   
}

#user-content-info-display-area .blog-box .blog-info {
    font-weight: normal;
    /* color: grey; */
    text-align: justify;
    font-size: 14px;
}

.category {
    color: blue;
}

#no-blog-grid-toggle {
    width: 100%;
    display: flex;
    /* place-items: center; */

    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#no-blog-grid-toggle img {
    width: 30%;
}