.finance-flex-section {
    display: flex;
}

.finance-flex-section .left-section,
.finance-flex-section .right-section {
    flex: 1;
    padding: var(--common-value);
}

/* .income-bx, */
.calendar-box {
    border: 2px solid;
    border-radius: var(--common-value);
    box-shadow: -11px -11px var(--main-black);
    padding: var(--common-value);
}

#monthly-income-area,
#income-after-expense-area {
    /* width: 100%; */
    display: flex;
    /* flex-direction: row; */
}

#monthly-income-bx,
#monthly-income-div-bx,
#income-after-expense-bx,
#income-after-expense-div-bx {
    flex: 1;
    border: 2px solid;
    /* margin: 10px; */
    font-weight: bold;
    padding: var(--common-value);
    border-radius: var(--common-value);
    box-shadow: -11px -11px var(--main-black);
}

#monthly-income-bx,
#income-after-expense-bx {
    margin-right: 10px;
}

#monthly-income-div-bx,
#income-after-expense-div-bx {
    margin-left: 10px;
}

#m-income-amt,
#af-exp-income-amt {
    display: flex;
    height: 65%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: normal;
}

#af-exp-income-amt {
    height: 80%;
}

#m-income-div-amt,
#af-exp-income-div-amt {
    margin-left: 50px;
    margin-top: var(--common-value);
    font-size: 20px;
    font-weight: normal;
}

#exp-notes-area {
    /* border: 1px solid; */
    height: 100%;
}

#exp-track-box {
    border: 2px solid;
    border-radius: var(--common-value);
    box-shadow: -11px -11px var(--main-black);
    height: 100%;
    padding: var(--common-value);
    font-weight: bold;
}

#exp-track-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4%;
}

#exp-track-content {
    height: 90%;
    /* border: 1px solid; */
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin-top: 5px;
    overflow: auto;
}

#exp-track-content::-webkit-scrollbar {
    display: none;
}

#exp-track-footer {
    height: 6%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

/* .individual-element-btn-area {
    height: 6%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
} */

.exp-info-box {
    width: 96%;
    margin: 4px auto;
    position: relative;
    /* border: 1px solid; */
}

.exp-info-date {
    display: flex;
    justify-content: right;
    align-items: center;
}

.date-box {
    width: 30%;
    text-align: center;
    background-color: var(--main-black);
    color: var(--main-white);
    font-weight: normal;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.exp-info-area {
    border: 2px solid;
    display: flex;
    align-items: center;
    border-radius: 7px;
    border-top-right-radius: 0px;
}

.exp-info-left-area {
    width: 85%;
    /* border: 1px solid; */
    padding: 10px;
    font-weight: normal;
}

.cost-box {
    padding: 2px 7px;
    background-color: var(--main-black);
    color: var(--main-white);
    width: 20%;
    max-width: 30%;
    text-align: center;
    border-radius: 7px;
    margin-top: 5px;
    margin-left: 10px;
    /* font-weight: normal; */
}

.exp-info-right-area {
    width: 15%;
    /* border: 1px solid; */
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modify-exp-icon, 
.remove-exp-icon {
    cursor: pointer;
    /* width: 30px;
    height: 30px; */
}

.modify-exp-icon:hover,
.remove-exp-icon:hover {
    background-color: grey;
}