/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.nav-bar {
    height: 60px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-white);
}

#nav-action-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Play', sans-serif;
    /* border: 1px solid var(--main-white); */
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
    /* text-align: bottom; */
}

a {
    text-decoration: none;
    color: var(--main-black);
}

button {
    margin: auto;
    padding: 6px 24px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    background: var(--main-black);
    border: 2px solid var(--main-black);
    color: var(--main-white);
    /* font-family: "Roboto Mono"; */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#same-page-links {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

#same-page-links a {
    margin: 0px 10px;
}

#same-page-links a:hover {
    border-bottom: 5px solid;
}

button:active {
    /* opacity: 0.8; */
    scale: 0.95;
}

#hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#hamburger-menu .bar {
    width: 35px;
    height: 4px;
    background-color: var(--main-black);
    margin-top: 2px;
    margin-bottom: 2px;
}

section {
    width: 70%;
    /* border-right: 1px solid;
    border-left: 1px solid; */
    margin: auto;
}

#greeting-area {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* margin-top: 170px; */
    margin-top: 230px;
    font-size: 70px;
    font-weight: 700;
}

.right-arrow-icon {
    width: 25px;
    height: 22px;
    margin-left: 5px;
}

#description-of-prodo {
    margin-top: 30px;
    text-align: center;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#get-started-btn-area {
    text-align: center;
    margin-top: 50px;
}

#get-started-btn-area button {
    font-size: 20px;
}
#brief-introduction-area {
    font-size: 22px;
    font-weight: 400;
    margin-top: 150px;
}

#finance-area,
#bookshelf-area,
#blog-area {
    margin-top: 80px;
    font-size: 40px;
    font-weight: 700;
}

.underline-box {
    width: 70px;
    height: 5px;
    background-color: var(--main-black);
    margin-top: 40px;
    margin-bottom: 50px;
}

.finance-group,
.bookshelf-group,
.blog-group {
    display: flex;
}

.finance-group .left-area,
.finance-group .right-area,
.bookshelf-group .left-area,
.bookshelf-group .right-area,
.blog-group .left-area,
.blog-group .right-area {
    flex: 1;
    /* border: 1px solid; */
}

.finance-group img,
.bookshelf-group img,
.blog-group img {
    width: 100%;
}

.finance-group .right-area,
.blog-group .right-area {
    padding-left: 30px;
    padding-right: 10px;
    display: grid;
    place-items: center;
}

.bookshelf-group .left-area {
    padding-left: 10px;
    padding-right: 30px;
    display: grid;
    place-items: center;
}

/* .right-area h1 {
    font-size: 40px;
} */

/* .right-area p {
    font-size: 20px;
    font-weight: 400;
} */

.finance-group h1,
.bookshelf-group h1,
.blog-group h1 {
    font-size: 40px;
}

.finance-group p,
.bookshelf-group p,
.blog-group p {
    font-size: 20px;
    font-weight: 400;
}

/* .bookshelf-group .left-area {

} */

.to-top {
    background: var(--main-black);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--main-white);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

footer {
    height: 60px;
    display: grid;
    place-items: center;
    border-top: 1px solid grey;
    font-size: 20px;
    font-weight: 400;
}